.contact-img-row {
  text-align: center;
  padding: 45px 0;
}

.contact-img-row img {
  max-width: 1100px;
  width: 100%;
}

.contact-container {
  padding: 45px 0 25px 0;
  text-align: center;
}

iframe {
  border: 0;
}