#supersport-vid {
    max-height: 475px;
    margin: -25px auto 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.container-ss {
    max-width: 1200px;
    margin: 0 auto;
}

.supersport-img-col {
    margin-bottom: 30px;
}


@media (min-width: 991px) {
    #supersport-vid video {
        transform: translateY(-10%);
    }

    .img-right {
        float: right;
        max-width: 750px;
        margin-left: 15px;
    }

    .img-left {
        float: left;
        max-width: 750px;
        margin-right: 15px;
    }
}