#supersport-vid {
    max-height: 475px;
    margin: -25px auto 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.container-ss {
    max-width: 1200px;
    margin: 0 auto;
}

.img-right {
    float: right;
    margin: 0 0 5px 15px;
}

.img-left {
    float: left;
    margin: 0 15px 5px;
}


@media (min-width: 991px) {
    #supersport-vid video {
        transform: translateY(-10%);
    }
}