@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
}

.img-full {
  width: 100%;
}

.container-md {
  max-width: 1400px;
  margin: 0 auto;
}

.card-container {
  padding: 25px 0;
}
